/* HalfBlockLeft.module.css */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=Shippori+Mincho&display=swap');

.section {
  height: 60vh;
  display: flex;
  position: relative;
}

.leftContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
  position: relative;
  flex-direction: column;
  z-index: 1;
}

.rightContent {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  margin-right: 50px;
}

.image {
  width: 60%;
  height: auto;
  max-width: 60%;
  max-height: 50vh;
  object-fit: contain;
  position: absolute;
  right: 0;
  z-index: 2;
}

.textContainer {
  max-width: 80%;
  margin-right: 10%;
  padding: 20px;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  line-height: 1.6;
}

@media (max-width:480px){
  .section {
    flex-direction: column;
    margin: 0;
  }

  .rightContent {
    order: 1;
    padding: 0;
    margin: 0;
    position: relative;
    height: 50vh;
  }

  .image {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .leftContent {
    order: 2;
    padding: 0;
  }

  .textContainer {
    max-width: 90%;
    margin-right: 0;
  }

  .title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 0.7rem;
    line-height: 1.6;
  }
}

@media (max-width:1280px){
  .section {
    height: 80vh;
    flex-direction: column;
    margin: 0;
  }

  .rightContent {
    order: 1;
    padding: 0;
    margin: 0;
    position: relative;
  }

  .image {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .leftContent {
    order: 2;
    padding: 0;
    margin: 0;
  }

  .textContainer {
    max-width: 90%;
    margin-right: 0;
  }

  .title {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 1rem;
    line-height: 1.6;
  }
}

